/*style for book demo*/
*{
    margin: 0;
    padding: 0;
    outline: 0 none;
}
body{
    text-align: center;
}
.wrap{
    margin: 0 auto;
    width: 970px;
    text-align: left;
}
.bg-1{
    width: 966px;
    height: 644px;
    background: #7bbb47;
    margin-top: 15px;
    border: 2px solid #75ac50;
    border-radius: 8px;
    position: relative;
}
.bg-2{
    margin: 3px;
    height: 634px;
    border: 2px solid #a9ce6c;
    border-radius: 8px;
}
.bg-3{
    height: 618px;
    margin: 5px;
    border: 3px dotted #40751f;
    border-radius: 8px;
}
.bg-book{
    background: url(img/word-bg.png) no-repeat;
}
.bg-btn{
    position: absolute;
    right: 0;
    top:85px;
    height:301px;
    width:91px;
    background: url(img/btn.png) no-repeat;
    z-index: 1;
}
.content{
    position: relative;
    z-index: 100;
}
.content-book{
    background: url(img/word-content-dot.png) repeat;
    height: 585px;
    width: 892px;
    margin-top: 7px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-right-color: #333;
    box-shadow: 0 0 5px #000;
}